<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>20409ED0-C10C-43C6-8D3B-9AC5CB07048A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bilibili</string>
			<key>text</key>
			<string>bilibili</string>
			<key>url</key>
			<string>https://search.bilibili.com/all?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>37392967-4E82-4B8E-9BF5-7C79637A9E3D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>youku</string>
			<key>text</key>
			<string>优酷</string>
			<key>url</key>
			<string>https://so.youku.com/search_video/q_{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>87D6EA87-5666-495D-9413-4F7EE756F0DE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>baidu</string>
			<key>text</key>
			<string>百度</string>
			<key>url</key>
			<string>https://www.baidu.com/s?ie=utf-8&amp;f=8&amp;wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BA0E3905-3689-4030-8FB2-AE87C488C551</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>taobao</string>
			<key>text</key>
			<string>淘宝</string>
			<key>url</key>
			<string>http://s.taobao.com/search?oe=utf-8&amp;f=8&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CA548354-2C1E-437F-877F-7264F3CAC3B0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>github</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DA26F665-8CBD-41F7-8A6D-DC1F9598BCBD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aiqiyi</string>
			<key>text</key>
			<string>爱奇艺</string>
			<key>url</key>
			<string>https://so.iqiyi.com/so/q_{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
